.help-block {
    color: red;
    font-style: oblique;
}
label {
    width: 30%;
}
.thumb {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.img-detail {
    width: 500px;
    height: auto;
    object-fit: cover;
}
.infor {
    width: 250px;
    word-break: break-all;
    font-weight: normal;
}
.show {
    margin-bottom: 3% !important;
}
.thu {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 4px #e0e4e6;
}
h2 {
    text-align: center;
     margin-bottom: 5%;
}
.thu1 {
    text-align: center;
}
.btnadd {
    text-align: center;
    margin-bottom: 5%;
}
.addmp {
    margin-top: 5%;
    margin-bottom: 5%;
}